body{
    font-family: Arial;
    margin:0;
    padding:0;
    background:#f5f5f5;
}

/* Header */
.header{
    background:red;
    color:white;
    text-align:center;
    padding:15px;
    font-size:28px;
    font-weight:bold;
}

/* Menu */
.menu{
    background:black;
    text-align:center;
    padding:10px;
}

.menu a{
    color:white;
    margin:10px;
    text-decoration:none;
    font-weight:bold;
}

/* Container */
.container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin:10px;
}

/* Box */
.box{
    width:30%;
    background:white;
    margin:10px;
    border:2px solid red;
}

/* Box Heading */
.box h3{
    background:red;
    color:white;
    margin:0;
    padding:10px;
    text-align:center;
}

/* List */
.box ul{
    padding:10px;
}

.box ul li{
    margin-bottom:8px;
}

/* Links */
.box ul li a{
    text-decoration:none;
    color:blue;
}

/* Button */
.btn{
    display:block;
    background:#007bff;
    color:white;
    text-align:center;
    padding:8px;
    margin:10px;
    border-radius:5px;
    text-decoration:none;
}

/* Mobile Responsive */
@media(max-width:768px){
    .box{
        width:100%;
    }
}
