body{
  margin:0;
  font-family:Arial;
  background:#f1f1f1;
}

.header{
  background:#b30000;
  color:white;
  text-align:center;
  padding:15px;
}

.menu{
  background:#000080;
  text-align:center;
  padding:10px;
}

.menu a{
  color:white;
  margin:0 10px;
  text-decoration:none;
  font-weight:bold;
}

.container{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.box{
  width:300px;
  margin:10px;
  border:1px solid #ccc;
  background:white;
}

.box h2{
  background:#000080;
  color:white;
  padding:10px;
  margin:0;
  text-align:center;
}

ul{
  list-style:none;
  padding:10px;
  height:250px;
  overflow-y:auto;
}

li{
  border-bottom:1px solid #eee;
  padding:5px;
}

li a{
  text-decoration:none;
  color:black;
}

li a:hover{
  color:red;
}

.search-bar{
  text-align:center;
  margin:10px;
}

.search-bar input{
  padding:8px;
  width:70%;
}

@media(max-width:768px){
  .box{
    width:95%;
  }
}
